*{
    font-family: "Roboto Light", sans-serif;
    color: white;
    text-decoration: none;
}
body{
    background-color: #444755;
}
h1{
    text-align: center;
    background-color: #343440;
    border-radius: 10px;
    padding: 10px;
}
.icon{
    border-radius: 5px;
    background-color: #343440;
    border: 1px solid #343440;
    margin: 5px;
}
#row:hover{
    background-color: #343440;
    border-radius: 5px;
    border: 1px solid #343440;
}
td{
    text-align: center;
    margin: 5px;
}
.headerTable > th{
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: #343440;
}
table{
    width: 100%;
    border-spacing: 10px;
    border-collapse: separate;

}
#add{
    display: flex;
    align-items: center;
}
#addText{
    margin-left: 20px;
}
#map {
    height: 500px;
    width: 30%;
    margin: 0 auto; /* Center the map horizontally */
    display: flex;
    align-items: center;
}

#locationDetail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}
.locationLabel {
    width: 150px;
    font-weight: bold;
}
.locationValue {
    width: 200px;
}
#return{
    display: flex;
    align-items: center;
}
#returnText{
    margin-left: 20px;
}
#searchBar{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    padding-bottom: 10px;
}
#searchBar > * {
    background-color: #343440;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #343440;
}
#searchBar > input{
    margin: 5px;
}
#addLocation {
    display: flex;
    flex-direction: row;
    width: 50%;
}
#addLocation > span{
    display: flex;
    align-items: center;
}
#addLocation > img{
    margin-right: 10px;
}
