*{
    font-family: "Roboto Light", sans-serif;
    background-color: #444755;
    color: white;
    text-decoration: none;
}
h1{
    text-align: center;
    background-color: #343440;
    border-radius: 10px;
    padding: 10px;
}
.icon{
    border-radius: 5px;
    background-color: #343440;
    border: 1px solid #343440;
    padding: 5px;
}
td{
    text-align: center;
}
.headerTable > th{
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: #343440;
}
table{
    width: 100%;
    border-spacing: 10px;
    border-collapse: separate!important;

}
#add{
    display: flex;
    align-items: center;
}
#addText{
    margin-left: 20px;
}