*{
    font-family: "Roboto Light", sans-serif;
    color: white;
    text-decoration: none;
    list-style-type: none;
}
body{
    background-color: #444755;
    height: 100%;
}
h1{
    text-align: center;
    background-color: #343440;
    border-radius: 10px;
    padding: 10px;
}
.icon{
    border-radius: 5px;
    background-color: #343440;
    border: 1px solid #343440;
    margin: 5px;
}
#row:hover{
    background-color: #343440;
    border-radius: 5px;
    border: 1px solid #343440;
}
td{
    text-align: center;
    margin: 5px;
}
.headerTable > th{
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: #343440;
}
table{
    width: 100%;
    border-spacing: 10px;
    border-collapse: separate;

}
#add{
    display: flex;
    align-items: center;
}
#addText{
    margin-left: 20px;
}
#map {
    height: 500px;
    width: 30%;
    margin: 0 auto; /* Center the map horizontally */
    display: flex;
    align-items: center;
}

#locationDetail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}
.locationLabel {
    width: 150px;
    font-weight: bold;
}
.locationValue {
    width: 200px;
}
#return{
    display: flex;
    align-items: center;
}
#returnText{
    margin-left: 20px;
}
#searchBar{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    padding-bottom: 10px;
}
input, button {
    background-color: #343440;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #343440;
}
#searchBar > input{
    margin: 5px;
}
.add {
    display: flex;
    flex-direction: row;
    width: 50%;
}
.add > span{
    display: flex;
    align-items: center;
}
.add > img{
    margin-right: 10px;
}
#searchBar > button{
    margin-right: 5px;
}
#sidebar {
    float: left;
    width: 200px;
    background-color: #343440;
    height: 500px;
    border-radius: 10px;
}
.main {
    margin-left: 220px;
    padding: 20px;
}
#sidebar > ul > li{
    padding: 10px;
    margin: 5px;
}
#sidebar > ul{
    padding: 0;
}
#sidebar ul li.active {
    background-color: #444755;
}
.waterEntryForm{
    width: 50%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-group{
    width: 50%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}
.form-label{
    margin-bottom: 20px;
}
.form-group > div{
    margin-bottom: 20px;
}
input[type="radio"] {
    background-color: #343440;
    border-radius: 50%;
    border: 2px solid #343440;
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
    margin-right: 10px;
}

input[type="radio"]:checked::before {
    content: "";
    background-color: #343440;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
}
.save{
    width: 382px;
}



